body{
	margin: 0px;
	font-family: arial;
}
.arkaplan{
	background-image: url(futbol.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	height:100vh;
	position: fixed;
	filter: blur(5px);
	z-index: -1;
}
.kutu{
	position:relative;
	width: 400px;
	height: 100px;
	background-color: rgb(0,0,0);
	background-color:rgba(0,0,0,1);
	margin:auto;
	transform: skew(-20deg);
	top:45vh;
	bottom:45vh;
	display: block;
	border:5px solid white;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	perspective: 40px;
  	border-radius: 15px;
  	animation: slide-right 16s ease-in-out infinite alternate both;
}
.yazi{
	color:white;
	font-size:90px;
	text-align: center;
}
.kutu2{
	position:relative;
	width: 400px;
	height: 100px;
	background-color: rgb(0,0,0);
	background-color:rgba(0,0,0,1);
	transform: skew(20deg);
	margin: auto;
	margin-top: 10px;
	top: 45vh;
	bottom:45vh;
	display: block;
	border: 5px solid white;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	perspective: 40px;
  	border-radius: 15px;
	animation: slide-left 10s ease-in-out infinite alternate both;

}
.yazi2{
	color:white;
	font-size:80px;
	text-align: center;
}
@keyframes slide-right {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}
@keyframes slide-left {
	0%{
		transform: translateX(75px);
	}
	100%{
		transform: translateX(-75px);
	}
}
